.green_label .webix_el_box, .green_label .webix_icon_btn {
  color:green;
}

.light-grey {
  background-color: #eeeeee;
}

.footer {
  text-align: center;
}

.list {
  border: 0;
}

.list.webix_view {
  background-color: transparent;
}

.list .webix_list_item {
  border: 0;
}

.list .webix_list_item:hover {
  background-color: rgba(0, 0, 0, .1);
}

.ferst_id .webix_column.webix_first .webix_cell {
  background-color: #F4F5F9;
}

.webix_dtable .webix_ss_body .webix_cell .wxi-trash:hover {
  color: red;
  cursor: pointer;
}

.hover-table {
  background: #F0DCB6 !important;
}

.highlight {
  background-color: #FEFFD4;
}
