.green_label .webix_el_box, .green_label .webix_icon_btn {
  color:green;
}

.white_button.webix_el_button button {
  background-color: transparent !important;
}

.white_button.webix_el_button button:hover {
  background-color: #3D464F !important;
}

.light-grey {
  background-color: #eeeeee;
}

.footer {
  text-align: center;
}

.list {
  border: 0;
}

.list.webix_view {
  background-color: transparent;
}

.list .webix_list_item {
  border: 0;
}

.list .webix_list_item:hover {
  background-color: rgba(0, 0, 0, .1);
}
